.App {
  text-align: center;
  width: 70%;
  margin: 0 auto; 
  padding-top: 75px;
}

.CardList {
  width: 70%;
  margin: 0 auto; 
}

.footer {
  width: 70%;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 70%;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}
